         @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
         @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
         @media screen and (min-device-width: 1801px) {
             .margin {
                 margin-top: 50px;
                 margin-bottom: 50px;
             }
             .margin1 {
                 margin-top: 50px;
             }
             .gris {
                 color: #212F3D;
             }
             img {
                 box-shadow: 0 2px 10px #212F3D;
             }
             body {
                 margin: 0;
                 font-family: Helvetica, sans-serif;
                 background-color: #f4f4f4;
             }
             a {
                 color: #000;
             }
             /* header */
             .header {
                 background-color: #fff;
                 box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
                 width: 100%;
                 z-index: 3;
                 height: 790px;
             }
             .header ul {
                 margin: 0;
                 padding: 0;
                 list-style: none;
                 overflow: hidden;
                 background-color: #fff;
             }
             .header li a {
                 display: block;
                 padding: 20px 20px;
                 border-right: 1px solid #f4f4f4;
                 text-decoration: none;
             }
             .header li a:hover {
                 background-color: #f4f4f4;
             }
             .header .logo {
                 display: block;
                 float: left;
                 font-size: 2em;
                 padding: 10px 20px;
                 text-decoration: none;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             /* menu */
             .header .menu {
                 clear: both;
                 max-height: 0;
                 transition: max-height .2s ease-out;
             }
             /* 48em = 768px */
             @media (min-width: 48em) {
                 .header li {
                     float: left;
                 }
                 .header li a {
                     padding: 20px 30px;
                     color: #212F3D;
                     font-family: 'Pacifico', cursive;
                 }
                 .header .menu {
                     clear: none;
                     float: right;
                     max-height: none;
                 }
             }
             body {
                 color: #8f8f8f;
                 background: white;
             }
             h1 {
                 font-size: 30px;
                 line-height: 1.8;
                 text-align: center;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             .grid-hero {
                 display: flex;
                 justify-content: space-around;
             }
             /* grid */
             .grid-marre,
             .grid-dossier,
             .grid-voiture,
             .grid-footer {
                 display: inline-grid;
                 padding: 10px;
                 width: 1000px;
             }
             .grid-contact2 {
                 display: inline-grid;
                 width: 1000px;
             }
             .grid-parasec06 {
                 width: 400px;
                 height: 180px;
             }
             .grid-marre,
             .grid-dossier {
                 margin-left: 500px;
             }
             .grid-marre,
             .grid-dossier,
             .grid-voiture {
                 grid-template-columns: repeat(2, 1fr)
             }
             .grid-footer {
                 grid-template-columns: repeat(2, 1fr);
             }
             .grid-voiture {
                 margin-left: 520px;
             }
             .grid-parasec01 {
                 width: 400px;
                 height: 180px;
                 margin-top: 30px;
             }
             .grid-parasec04 {
                 padding: 20px;
                 width: 400px;
                 height: 180px;
                 margin-top: 50px;
                 margin-left: 100px;
             }
             .grid-parasec02 {
                 padding: 20px;
                 width: 400px;
                 height: 200px;
                 margin-top: 100px;
                 margin-right: 100px;
             }
             .grid-photo {
                 width: 350px;
                 height: 250px;
                 margin-left: 30px;
             }
             .grid-renseignement,
             .grid-photocontact {
                 width: 300px;
                 height: 200px;
             }
             .voiture {
                 position: relative;
                 background: url("../webroot/img/lampe2.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 600px;
             }
             /* carousel */
             .carousel-items {
                 display: flex;
                 overflow-x: scroll;
                 padding: 1rem 0;
             }
             .carousel-item {
                 margin-left: 1rem;
                 list-style-type: none;
             }
             .carousel-item {
                 flex-grow: 1;
                 flex-shrink: 0;
                 flex-basis: 450px;
             }
             .carousel-item {
                 flex: 1 0 250px;
             }
             .carousel-items {
                 display: flex;
                 overflow-x: scroll;
                 padding: 1rem 0;
                 scroll-snap-type: x mandatory;
             }
             .carousel-item {
                 flex: 1 0 250px;
                 margin-left: 1rem;
                 scroll-snap-align: start;
             }
              ::-webkit-scrollbar-track {
                 background-color: #F5F5F5;
             }
              ::-webkit-scrollbar {
                 height: 8px;
                 background-color: #F5F5F5;
             }
              ::-webkit-scrollbar-thumb {
                 background-color: #3d4852;
                 border-radius: 3px;
             }
             .imgcarousel {
                 width: 450px;
                 height: 250px;
             }
             /* card */
             .ajustement {
                 margin-bottom: 150px;
                 margin-top: 30px;
             }
             .section2 {
                 display: flex;
                 margin-top: 50px;
                 width: 1000px;
                 height: 400px;
                 margin-left: 430px;
             }
             .card {
                 width: 300px;
                 background-color: white;
                 margin-right: 200px;
             }
             .card a {
                 color: #333;
                 text-decoration: none;
             }
             .card:hover .card-image img {
                 width: 110%;
                 filter: grayscale(0);
             }
             .card-image {
                 height: 250px;
                 width: 350px;
                 position: relative;
                 overflow: hidden;
             }
             .card-image img {
                 width: 400px;
                 position: absolute;
                 top: 50%;
                 left: 50%;
                 transform: translate(-50%, -50%);
                 filter: grayscale(1);
                 transition-property: filter width;
                 transition-duration: .3s;
                 margin-right: 100px;
             }
             .card-body {
                 text-align: center;
                 padding: 15px 20px;
                 box-sizing: border-box;
             }
             .card-title {
                 text-align: center;
                 font-weight: bold;
             }
             .card-excerpt {
                 color: #777;
             }
             /* horaire */
             .horaire1 {
                 position: relative;
                 background: url("../webroot/img/horaire5.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 600px;
             }
             .box {
                 width: 400px;
                 grid-gap: 15px;
                 margin: 0 auto;
             }
             .horaire {
                 position: relative;
                 width: 350px;
                 height: 350px;
                 background: #fff;
                 margin: 0 auto;
                 border-radius: 4px;
                 box-shadow: 0 2px 10px #212F3D;
             }
             .horaire:before,
             .horaire:after {
                 content: "";
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 border-radius: 4px;
                 background: #fff;
                 transition: 0.5s;
                 z-index: -1;
             }
             .horaire:hover:before {
                 transform: rotate(20deg);
                 box-shadow: 0 2px 10px #212F3D;
             }
             .horaire:hover:after {
                 transform: rotate(10deg);
                 box-shadow: 0 2px 10px #212F3D;
             }
             .horaire .imgBx {
                 position: absolute;
                 top: 10px;
                 left: 10px;
                 bottom: 10px;
                 right: 10px;
                 background: #222;
                 transition: 0.5s;
                 z-index: 1;
             }
             .horaire:hover .imgBx {
                 bottom: 80px;
             }
             .horaire .imgBx img {
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 object-fit: cover;
             }
             .horaire .details {
                 position: absolute;
                 left: 10px;
                 right: 10px;
                 bottom: 10px;
                 height: 60px;
                 text-align: center;
             }
             .photohor {
                 margin-top: 100px;
             }
             .horaire3 {
                 margin-top: 100px;
                 text-align: center;
             }
             .couleurhor {
                 font-size: 1rem;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
                 margin-bottom: 10px;
             }
             .couleurhor2 {
                 font-size: 1rem;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
                 margin-bottom: 10px;
                 margin-top: 10px;
             }
             .bouton4 {
                 text-align: right;
                 margin-top: 50px;
                 margin-bottom: 50px;
                 width: 200px;
             }
             .bouton a {
                 color: #212F3D;
                 text-decoration: none;
             }
             /* footer */
             footer {
                 height: 300px;
                 background-image: url('../webroot/img/sec5-3.jpg');
                 background-size: cover;
             }
             footer a {
                 text-decoration: none;
                 color: black;
                 font-family: 'Pacifico', cursive;
                 margin-right: 90px;
             }
             .secfoot {
                 margin-top: 100px;
                 margin-left: 450px;
                 border-bottom: 2px solid black;
             }
             .footer1 {
                 display: flex;
                 text-align: center;
             }
             .footer2 {
                 display: flex;
                 justify-content: center;
             }
             .stylerespon {
                 margin-right: 80px;
             }
             /* assurance */
             @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
             .full-width {
                 position: relative;
                 max-width: 906px;
                 margin: 20px auto;
             }
             .col-md-3 {
                 width: 100%;
                 margin-top: 10px;
             }
             .a-assurance {
                 color: #212F3D;
                 text-decoration: none;
                 cursor: pointer;
                 font-family: 'Open Sans', sans-serif;
             }
             .assurance-titre {
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             /* ---- Card View ---- */
             .card-view {
                 background: #fff;
                 float: left;
                 width: 292px;
                 margin: 5px;
                 box-shadow: 0 2px 10px #212F3D;
             }
             .container {
                 border: 1px solid #efefef;
                 padding: 15px;
             }
             .container1 {
                 border: 2px solid #efefef;
                 padding: 11px;
             }
             .bg {
                 display: block;
                 overflow: hidden;
                 height: 170px;
                 width: 292px;
                 box-shadow: 0 2px 10px #212F3D;
             }
             .tag_name {
                 font-size: 12px;
                 letter-spacing: 0.05em;
                 margin-bottom: 15px;
             }
             .c_content {
                 margin-top: -10px;
             }
             .p-assurance {
                 margin-top: 40px;
             }
             .p-assurance1 {
                 margin-top: 50px;
             }
             a.vrai {
                 text-decoration: none;
                 color: #212F3D;
             }
             .c_content1 {
                 height: 130px;
             }
             .c_content2 {
                 height: 125px;
             }
             .c_content .review {
                 font-weight: 300;
                 font-size: 12px;
                 letter-spacing: 0.05em;
             }
             .review1 {
                 font-weight: 300;
                 font-size: 12px;
                 letter-spacing: 0.05em;
             }
             @media screen and (max-width: 920px) and (min-width: 621px) {
                 .full-width {
                     max-width: 604px;
                     margin-left: auto;
                     margin-right: auto;
                 }
             }
             @media screen and (max-width: 620px) {
                 .full-width {
                     max-width: 302px;
                     margin-left: auto;
                     margin-right: auto;
                 }
             }
             * {
                 box-sizing: border-box;
             }
             .blog-card {
                 display: -webkit-box;
                 display: flex;
                 -webkit-box-orient: vertical;
                 -webkit-box-direction: normal;
                 flex-direction: column;
                 margin: 1rem auto;
                 box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
                 margin-bottom: 1.6%;
                 background: #fff;
                 line-height: 1.4;
                 font-family: sans-serif;
                 border-radius: 5px;
                 overflow: hidden;
                 z-index: 0;
             }
             .blog-card a {
                 color: inherit;
             }
             .blog-card:hover .photo {
                 -webkit-transform: scale(1.3) rotate(3deg);
                 transform: scale(1.3) rotate(3deg);
             }
             .blog-card .meta {
                 position: relative;
                 z-index: 0;
                 height: 200px;
             }
             .blog-card .photo {
                 position: absolute;
                 top: 0;
                 right: 0;
                 bottom: 0;
                 left: 0;
                 background-size: cover;
                 background-position: center;
                 -webkit-transition: -webkit-transform 0.2s;
                 transition: -webkit-transform 0.2s;
                 transition: transform 0.2s;
                 transition: transform 0.2s, -webkit-transform 0.2s;
             }
             .blog-card .description {
                 padding: 1rem;
                 background: #fff;
                 position: relative;
                 z-index: 1;
                 box-shadow: 0 2px 10px #212F3D;
             }
             .blog-card p {
                 position: relative;
                 margin: 1rem 0 0;
             }
             .blog-card p:first-of-type {
                 margin-top: 1.25rem;
             }
             @media (min-width: 640px) {
                 .blog-card {
                     -webkit-box-orient: horizontal;
                     -webkit-box-direction: normal;
                     flex-direction: row;
                     max-width: 700px;
                 }
                 .blog-card .meta {
                     flex-basis: 40%;
                     height: auto;
                 }
                 .blog-card .description {
                     flex-basis: 60%;
                 }
                 .blog-card .description:before {
                     -webkit-transform: skewX(-3deg);
                     transform: skewX(-3deg);
                     content: "";
                     background: #fff;
                     width: 30px;
                     position: absolute;
                     left: -10px;
                     top: 0;
                     bottom: 0;
                     z-index: -1;
                 }
                 .section-assurance {
                     height: 420px;
                     margin-top: 50px;
                 }
                 .assurance {
                     position: relative;
                     background: url("imagesImages/assurance9.jpg") no-repeat center center fixed;
                     -webkit-background-size: cover;
                     -moz-background-size: cover;
                     background-size: cover;
                     height: 600px;
                 }
             }
             /* conditions */
             .imagecondi {
                 width: 250px;
                 height: 200px;
             }
             .grid-condition {
                 display: inline-grid;
                 width: 530px;
                 grid-template-columns: repeat(2, 1fr);
                 height: 770px;
                 margin-top: 60px;
             }
             .grid-textecondi {
                 display: inline-grid;
                 grid-template-columns: repeat(2, 1fr);
                 width: 1200px;
                 margin-left: 360px;
             }
             .texte1 {
                 width: 650px;
                 margin-top: 120px;
             }
             .texte2 {
                 margin-bottom: 50px;
             }
             .titre-texte {
                 margin-bottom: 20px;
             }
             .stylecondi {
                 margin-left: 50px;
             }
             /* carte visite section contact */
             .card {
                 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 28px rgba(0, 0, 0, 0.22);
                 display: grid;
                 font-family: 'Trebuchet MS', sans-serif;
                 height: 200px;
                 margin: 20px auto;
                 width: 350px;
                 margin-left: 100px;
             }
             .front {
                 grid-template-columns: repeat(12, 1fr);
                 grid-template-rows: repeat(4, 1fr);
             }
             .front .grisclair {
                 background-color: #34495E;
                 grid-column: 8 / span 5;
                 grid-row: 1 / span 4;
             }
             .front .gristresclair {
                 background-color: #ABB2B9;
                 grid-column: 1 / span 7;
                 grid-row: 1 / span 4;
             }
             .front .gris {
                 background-color: #212F3D;
                 -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
                 clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
                 grid-row: 1 / span 3;
                 grid-column: 1 / span 11;
                 position: relative;
                 z-index: 2;
             }
             .front .dots {
                 background: radial-gradient(white 20%, transparent 19%);
                 background-size: 6px 6px;
                 background-position: 0 0, 3px 3px;
                 grid-column: 1 / span 12;
                 grid-row: 3 / span 2;
                 z-index: 1;
             }
             .front .personal-intro {
                 background: black;
                 color: white;
                 display: -webkit-box;
                 display: flex;
                 -webkit-box-orient: vertical;
                 -webkit-box-direction: normal;
                 flex-direction: column;
                 grid-column: 4 / span 6;
                 grid-row: 2 / span 2;
                 -webkit-box-pack: center;
                 justify-content: center;
                 text-align: center;
                 z-index: 2;
             }
             .front .personal-intro p {
                 letter-spacing: 1px;
                 text-transform: uppercase;
             }
             .front .personal-intro p:first-of-type {
                 font-size: 18px;
             }
             .front .personal-intro p:last-of-type {
                 font-size: 8px;
                 margin-top: 5px;
             }
             .back {
                 grid-template-columns: repeat(12, 1fr);
                 grid-template-rows: repeat(12, 1fr);
             }
             .back .yellow {
                 background-color: #ABB2B9;
                 grid-column: 1 / span 9;
                 grid-row: 1 / span 3;
             }
             .back .top.dots {
                 background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
                 background-size: 6px 6px;
                 background-position: 0 0, 3px 3px;
                 grid-column: 8 / span 6;
                 grid-row: 2 / span 3;
             }
             .back .personal-info {
                 grid-column: 2 / span 6;
                 grid-row: 5 / span 6;
             }
             .back .personal-info p {
                 font-size: 12px;
             }
             .back .personal-info p:first-of-type {
                 font-size: 12px;
                 font-weight: bold;
             }
             .back .personal-info p:nth-of-type(2) {
                 font-size: 12px;
             }
             .back .bottom.dots {
                 background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
                 background-size: 6px 6px;
                 background-position: 0 0, 3px 3px;
                 grid-column: 1 / span 8;
                 grid-row: 11 / span 2;
                 z-index: 2;
             }
             .back .pink {
                 background-color: #212F3D;
                 grid-column: 8 / span 5;
                 grid-row: 10 / span 3;
             }
             .contacttitre {
                 text-align: center;
                 margin-top: 50px;
                 margin-bottom: 50px;
                 color: #212F3D;
             }
             .grid-parasec05 {
                 width: 300px;
                 height: 300px;
                 margin-left: 100px;
                 margin-top: 30px;
             }
             .grid-contact2 {
                 grid-template-columns: repeat(3, 1fr);
                 margin-left: 270px;
             }
             .contactsimage {
                 position: relative;
                 background: url("../webroot/img/contact5.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 text-align: center;
                 color: #fff;
                 padding-top: 110px;
                 min-height: 500px;
                 letter-spacing: 2px;
             }
             /* Ressources */
             form {
                 max-width: 850px;
                 margin: 0 auto;
                 border-top: 15px solid #212F3D;
                 background: #FFF;
                 padding: 0 20px 60px;
                 text-align: center;
                 font-family: Raleway;
                 text-align: center;
                 color: #B6B6B6;
                 -webkit-box-sizing: border-box;
                 box-sizing: border-box;
                 opacity: 0.95;
                 box-shadow: 0 0 15px -1px #141414;
             }
             h3 {
                 font-size: 20px;
                 line-height: 60px;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             .formulaire * {
                 box-sizing: border-box;
             }
             .formulaire {
                 width: 70%;
                 margin: 10px auto;
                 height: 60px;
             }
             .formulaire textarea {
                 width: 100%;
                 height: 100%;
                 opacity: 0.9;
                 padding-left: 22%;
                 background-color: #E8E9EA;
                 border: 0;
                 outline: none;
                 margin: 0;
                 margin-top: 20px;
             }
             .formulaire input {
                 width: 100%;
                 height: 30px;
                 opacity: 0.9;
                 padding-left: 22%;
                 background-color: #E8E9EA;
                 border: 0;
                 outline: none;
                 margin: 0;
             }
             input[type=submit] {
                 background-color: #212F3D;
                 border: 0;
                 height: 50px;
                 padding: 0 20px;
                 color: white;
                 font-size: 15px;
                 margin-top: 35px;
             }
             textarea {
                 resize: none;
                 padding-top: 18px;
                 transition: all 0.3s ease-in-out;
             }
             @media screen and (max-width: 1070px) {
                 form {
                     width: 100%;
                 }
                 form .formulaire {
                     width: 90%;
                 }
             }
             .formulaire2 {
                 margin-top: 50px;
                 margin-bottom: 100px;
             }
             /* devis */
             li {
                 list-style-type: none;
                 margin-bottom: 20px;
             }
             #contact {
                 border: 1px solid #212F3D;
                 width: 520px;
                 margin-left: 500px;
                 box-shadow: 0 2px 10px #212F3D;
                 height: 980px;
                 border-top: 15px solid #212F3D;
             }
             #contact1 {
                 border: 1px solid #212F3D;
                 width: 520px;
                 margin-left: 500px;
                 box-shadow: 0 2px 10px #212F3D;
                 height: 780px;
                 border-top: 15px solid #212F3D;
             }
             .styledevis {
                 margin-left: 50px;
             }
             .bouttondevis {
                 margin-top: 20px;
                 margin-bottom: 20px;
             }
             .styledevis2 {
                 margin-top: 30px;
             }
             .message {
                 height: 150px;
                 width: 350px;
                 margin-top: 20px;
             }
             .devis {
                 margin-top: 50px;
             }
             form ul {
                 text-align: left;
                 margin-left: 30px;
             }
             .formulinput {
                 background-color: #E8E9EA;
             }
             .bouttondevis {
                 margin-left: 190px;
                 box-shadow: 0 2px 10px #212F3D;
             }
             /* tarifs */
             .tarifs1 {
                 position: relative;
                 background: url("../webroot/img/tarifs5.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 700px;
                 margin-bottom: 60px;
                 margin-top: 170px;
             }
             .tarifs2 {
                 position: relative;
                 background: url("../webroot/img/tarifs7.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 700px;
                 margin-bottom: 100px;
                 margin-top: 100px;
             }
             .grid-parasec03 {
                 padding: 20px;
                 width: 350px;
                 height: 450px;
                 margin-left: 50px;
             }
             .garantie {
                 text-align: center;
                 font-size: 1.2rem;
                 color: #212F3D;
                 font-family: 'Pacifico', cursive;
                 margin-top: 60px;
             }
             .container-tarif {
                 display: inline-grid;
                 padding: 10px;
                 width: 1000px;
                 grid-template-columns: repeat(3, 1fr);
             }
             .container-tarif .card-tarif {
                 position: relative;
                 cursor: pointer;
             }
             .card-tarif {
                 height: 350px;
             }
             .container-tarif .card-tarif .face {
                 width: 300px;
                 height: 200px;
                 transition: 0.5s;
             }
             .p-tarif {
                 font-size: 0.8rem;
             }
             .container-tarif .card-tarif .face.face1 {
                 position: relative;
                 background: white;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 z-index: 1;
                 transform: translateY(100px);
             }
             .h-tarif {
                 font-family: 'Pacifico', cursive;
                 font-weight: normal;
                 font-size: 1rem;
                 color: black;
             }
             .container-tarif .card-tarif:hover .face.face1 {
                 background-color: #212F3D;
                 transform: translateY(0);
             }
             .container-tarif .card-tarif .face.face1 .content-tarif {
                 transition: 0.5s;
             }
             .container-tarif .card-tarif:hover .face.face1 .content-tarif {
                 opacity: 1;
             }
             .container-tarif .card-tarif .face.face1 .content-tarif h3 {
                 margin: 10px 0 0;
                 padding: 0;
                 color: #212F3D;
                 text-align: center;
                 font-size: 1.4em;
                 font-family: 'Pacifico', cursive;
                 font-weight: normal;
             }
             .container-tarif .card-tarif:hover .face.face1 .content-tarif h3 {
                 color: white;
             }
             .container-tarif .card-tarif .face.face2 {
                 position: relative;
                 background: #fff;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 padding: 20px;
                 box-sizing: border-box;
                 box-shadow: 0 2px 10px #212F3D;
                 transform: translateY(-100px);
             }
             .container-tarif .card-tarif:hover .face.face2 {
                 transform: translateY(0);
             }
             .container-tarif .card-tarif .face.face2 .contentcontent-tarif p {
                 margin: 0;
                 padding: 0;
             }
             .article-1 {
                 margin-left: 470px;
             }
             .article-2 {
                 margin-left: 650px;
             }
             .grid-tarif3 {
                 display: inline-grid;
                 padding: 10px;
                 width: 600px;
                 margin-left: 560px;
                 grid-template-columns: repeat(2, 1fr);
             }
             * {
                 margin: 0;
                 padding: 0;
             }
             .main {
                 height: 70vh;
                 width: 90vw;
                 position: relative;
                 margin-top: 100px;
             }
             .d1 {
                 position: absolute;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 height: 25vh;
                 width: 10vw;
                 background-position: 0 50%;
                 box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 2;
                 animation: dd1 10s 1, dd12 10s 1;
                 animation-delay: 4s, 14s;
             }
             .d2 {
                 position: absolute;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 height: 50vh;
                 width: 20vw;
                 background-position: -10vw 50%;
                 left: 10vw;
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 1;
                 animation: dd2 10s 2;
                 animation-delay: 4s;
             }
             .d3 {
                 position: absolute;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 overflow: hidden;
                 height: 60vh;
                 width: 40vw;
                 left: 25vw;
                 box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
                 background-position: -35vw 50%;
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 3;
                 animation: dd3 10s 2;
                 animation-delay: 4s;
             }
             .d4 {
                 position: absolute;
                 overflow: hidden;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 height: 50vh;
                 width: 25vw;
                 left: 60vw;
                 background-position: -70vw 50%;
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 1;
                 animation: dd4 10s 2;
                 animation-delay: 4s;
             }
             @keyframes dd1 {
                 50% {
                     width: 95vw;
                 }
             }
             @keyframes dd12 {
                 50% {
                     background-position: Calc(-40vw) 50%;
                 }
             }
             @keyframes dd2 {
                 50% {
                     background-position: Calc(-50vw) 50%;
                 }
             }
             @keyframes dd3 {
                 50% {
                     background-position: Calc(-75vw) 50%;
                 }
             }
             @keyframes dd4 {
                 50% {
                     background-position: Calc(-110vw) 50%;
                 }
             }
         }