         @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
         @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
         @media screen and (max-device-width: 600px) {
             /* header */
             .header {
                 background-color: #fff;
                 box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
                 width: 100%;
                 z-index: 3;
                 height: 1000px;
             }
             .header ul {
                 margin: 0;
                 padding: 0;
                 list-style: none;
                 overflow: hidden;
                 background-color: #fff;
             }
             .header li a {
                 display: block;
                 padding: 20px 20px;
                 border-right: 1px solid #f4f4f4;
                 text-decoration: none;
             }
             .header li a:hover {
                 background-color: #f4f4f4;
             }
             .header .logo {
                 display: block;
                 font-size: 2em;
                 padding: 10px 20px;
                 text-decoration: none;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
                 text-align: center;
             }
             /* menu */
             .header .menu {
                 clear: both;
                 max-height: 0;
                 transition: max-height .2s ease-out;
                 margin-right: 100px;
             }
             /* 48em = 768px */
             @media (min-width: 48em) {
                 .header li {
                     float: left;
                 }
                 .header li a {
                     padding: 20px 30px;
                     color: #212F3D;
                     font-family: 'Pacifico', cursive;
                 }
                 .header .menu {
                     clear: none;
                     float: right;
                     max-height: none;
                 }
             }
             .main {
                 height: 60vh;
                 width: 90vw;
                 position: relative;
             }
             .d1 {
                 position: absolute;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 height: 25vh;
                 width: 10vw;
                 background-position: 0 50%;
                 box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 2;
                 animation: dd1 10s 1, dd12 10s 1;
                 animation-delay: 4s, 14s;
             }
             .d2 {
                 position: absolute;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 height: 35vh;
                 width: 20vw;
                 background-position: -10vw 50%;
                 left: 10vw;
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 1;
                 animation: dd2 10s 2;
                 animation-delay: 4s;
             }
             .d3 {
                 position: absolute;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 overflow: hidden;
                 height: 40vh;
                 width: 50vw;
                 left: 25vw;
                 box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
                 background-position: -35vw 50%;
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 3;
                 animation: dd3 10s 2;
                 animation-delay: 4s;
             }
             .d4 {
                 position: absolute;
                 overflow: hidden;
                 background-image: url("../webroot/img/condition1.jpg");
                 background-size: 2700px 1500px;
                 height: 30vh;
                 width: 25vw;
                 left: 60vw;
                 background-position: -70vw 50%;
                 top: 50%;
                 transform: translateY(-50%);
                 z-index: 1;
                 animation: dd4 10s 2;
                 animation-delay: 4s;
             }
             @keyframes dd1 {
                 50% {
                     width: 95vw;
                 }
             }
             @keyframes dd12 {
                 50% {
                     background-position: Calc(-50vw) 50%;
                 }
             }
             @keyframes dd2 {
                 50% {
                     background-position: Calc(-60vw) 50%;
                 }
             }
             @keyframes dd3 {
                 50% {
                     background-position: Calc(-85vw) 50%;
                 }
             }
             @keyframes dd4 {
                 50% {
                     background-position: Calc(-120vw) 50%;
                 }
             }
             body {
                 color: #8f8f8f;
                 background: white;
             }
             h1 {
                 font-size: 30px;
                 line-height: 1.8;
                 text-align: center;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             .grid-photo {
                 width: 600px;
                 height: 350px;
                 margin-left: 180px;
                 margin-top: 30px;
                 margin-bottom: 20px;
             }
             .card-image1 {
                 width: 150px;
                 height: 180px;
             }
             img {
                 box-shadow: 0 2px 10px #212F3D;
             }
             .gris {
                 color: #212F3D;
             }
             .grid-parasec01 {
                 width: 700px;
                 margin-left: 150px;
                 margin-top: 30px;
                 margin-bottom: 3s0px;
                 font-size: 1.6rem;
             }
             .voiture {
                 position: relative;
                 background: url("../webroot/img/lampe2.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 600px;
             }
             .couleurhor {
                 font-size: 1rem;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             /* carousel */
             .carousel-items1 {
                 display: flex;
                 overflow-x: scroll;
                 padding: 1rem 0;
                 scroll-snap-type: x mandatory;
             }
             .carousel-item1 {
                 margin-left: 1rem;
                 list-style-type: none;
                 flex-grow: 1;
                 flex-shrink: 0;
                 flex-basis: 450px;
                 scroll-snap-align: start;
                 flex: 1 0 250px;
             }
              ::-webkit-scrollbar-track {
                 background-color: #F5F5F5;
             }
              ::-webkit-scrollbar {
                 height: 8px;
                 background-color: #F5F5F5;
             }
              ::-webkit-scrollbar-thumb {
                 background-color: #3d4852;
                 border-radius: 3px;
             }
             .imgcarousel {
                 width: 350px;
                 height: 200px;
                 margin-top: 40px;
             }
             /* apres carousel */
             /* card */
             .sectionrespon1 {
                 margin-top: 50px;
                 width: 300px;
                 height: 1350px;
                 margin-left: 310px;
             }
             .conseil-respon {
                 font-size: 1.8em;
             }
             .card-respons {
                 width: 400px;
                 background-color: white;
                 margin-right: 200px;
                 margin-bottom: 50px;
             }
             .card a {
                 color: #333;
                 text-decoration: none;
             }
             .card:hover .card-image img {
                 visibility: hidden;
             }
             .card-image {
                 height: 350px;
                 width: 450px;
                 position: relative;
                 overflow: hidden;
             }
             .card-image img {
                 width: 400px;
                 position: absolute;
                 top: 50%;
                 left: 40%;
                 transform: translate(-50%, -50%);
                 filter: grayscale(1);
                 transition-property: filter width;
                 transition-duration: .3s;
                 margin-right: 100px;
             }
             .card-image1 {
                 width: 450px;
                 height: 180px;
             }
             a {
                 color: #000;
             }
             .card-body {
                 text-align: center;
                 padding: 15px 20px;
                 box-sizing: border-box;
             }
             .card:hover .card-image img {
                 width: 110%;
                 filter: grayscale(0);
             }
             .card-title {
                 text-align: center;
                 font-weight: bold;
             }
             .h3-respon {
                 font-size: 2rem;
             }
             .card-excerpt {
                 color: #777;
             }
             .section2-respons {
                 margin-bottom: 80px;
                 margin-left: 310px;
             }
             /* horaire */
             .horaire1 {
                 position: relative;
                 background: url("../webroot/img/horaire5.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 600px;
                 margin-bottom: 80px;
             }
             .box {
                 width: 300px;
                 grid-gap: 15px;
                 margin: 0 auto;
             }
             .horaire {
                 position: relative;
                 width: 250px;
                 height: 250px;
                 background: #fff;
                 margin: 0 auto;
                 border-radius: 4px;
                 box-shadow: 0 2px 10px #212F3D;
                 margin-bottom: 40px;
             }
             .horaire:before,
             .horaire:after {
                 content: "";
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: 100%;
                 border-radius: 4px;
                 background: #fff;
                 transition: 0.5s;
                 z-index: -1;
             }
             .horaire:hover:before {
                 transform: rotate(20deg);
                 box-shadow: 0 2px 10px #212F3D;
             }
             .horaire:hover:after {
                 transform: rotate(10deg);
                 box-shadow: 0 2px 10px #212F3D;
             }
             .horaire .imgBx1 {
                 position: absolute;
                 top: 10px;
                 left: 10px;
                 bottom: 10px;
                 right: 10px;
                 background: #222;
                 transition: 0.5s;
                 z-index: 1;
             }
             .horaire:hover .imgBx1 {
                 bottom: 80px;
             }
             .horaire .imgBx1 img {
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 230px;
                 height: 230px;
                 object-fit: cover;
             }
             .horaire .details {
                 position: absolute;
                 left: 10px;
                 right: 10px;
                 bottom: 40px;
                 height: 60px;
                 text-align: center;
             }
             .horaire4 {
                 text-align: center;
                 margin-bottom: 40px;
             }
             .footerrespon1 i {
                 display: flex;
                 margin-left: 290px;
             }
             .footerrespon2 a {
                 display: flex;
                 text-align: center;
                 margin-left: 120px;
                 margin-top: 20px;
                 text-decoration: none;
                 color: #212F3D;
             }
             .footerrespon2 {
                 margin-bottom: 30px;
                 text-align: center;
                 margin-left: 180px;
                 margin-top: 150px;
             }
             footer {
                 height: 400px;
                 background-image: url('../webroot/img/sec5-3.jpg');
                 background-size: cover;
             }
             .taille-a-respon {
                 font-size: 2rem;
             }
             /* bouton revenir en haut */
             .bouton4 {
                 padding: 6px 0 6px 0;
                 font: bold 13px Arial;
                 background: #f5f5f5;
                 color: #555;
                 border-radius: 2px;
                 width: 200px;
                 border: 1px solid #ccc;
                 box-shadow: 0 2px 10px #212F3D;
                 margin-left: 100px;
                 margin-bottom: 50px;
             }
             .bouton {
                 text-align: center;
             }
             .bouton a {
                 color: #212F3D;
                 text-decoration: none;
             }
             /* page devis */
             li {
                 list-style-type: none;
                 margin-bottom: 20px;
             }
             #contact {
                 border: 1px solid #212F3D;
                 width: 350px;
                 box-shadow: 0 2px 10px #212F3D;
                 height: 1190px;
                 border-top: 15px solid #212F3D;
                 margin-bottom: 50px;
                 margin-left: 25px;
             }
             #contact1 {
                 border: 1px solid #212F3D;
                 width: 350px;
                 box-shadow: 0 2px 10px #212F3D;
                 height: 900px;
                 border-top: 15px solid #212F3D;
                 margin-bottom: 50px;
                 margin-left: 25px;
             }
             .styledevis {
                 margin-left: 50px;
             }
             .bouttondevis {
                 margin-top: 20px;
                 margin-bottom: 20px;
             }
             .styledevis2 {
                 margin-top: 30px;
             }
             .message {
                 height: 150px;
                 width: 200px;
                 margin-top: 20px;
             }
             .devis {
                 margin-top: 50px;
             }
             form ul {
                 text-align: left;
             }
             .formulinput {
                 background-color: #E8E9EA;
             }
             .bouttondevis {
                 margin-left: 80px;
                 box-shadow: 0 2px 10px #212F3D;
             }
             /* page devis multi risque */
             .carousel-items3 {
                 display: flex;
                 overflow-x: scroll;
                 padding: 1rem 0;
             }
             .carousel-item3 {
                 margin-left: 1rem;
                 list-style-type: none;
             }
             .carousel-item3 {
                 flex-grow: 1;
                 flex-shrink: 0;
                 flex-basis: 450px;
                 margin-left: 1rem;
             }
             .carousel-item3 {
                 flex: 1 0 250px;
                 margin-left: 1rem;
             }
             .carousel-items3 {
                 display: flex;
                 overflow-x: scroll;
                 padding: 1rem 0;
                 scroll-snap-type: x mandatory;
             }
             .carousel-item3 {
                 flex: 1 0 250px;
                 margin-left: 1rem;
                 scroll-snap-align: start;
             }
              ::-webkit-scrollbar-track {
                 background-color: #F5F5F5;
             }
              ::-webkit-scrollbar {
                 height: 8px;
                 background-color: #F5F5F5;
             }
              ::-webkit-scrollbar-thumb {
                 background-color: #3d4852;
                 border-radius: 3px;
             }
             .imagecondi {
                 width: 350px;
                 height: 200px;
             }
             .texterespon {
                 width: 500px;
                 margin-left: 250px;
                 margin-top: 60px;
                 margin-bottom: 60px;
             }
             /* carte visite section contact */
             .card1 {
                 box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 28px rgba(0, 0, 0, 0.22);
                 display: grid;
                 font-family: 'Trebuchet MS', sans-serif;
                 height: 350px;
                 margin: 20px auto;
                 width: 550px;
                 margin-top: 50px;
             }
             .front {
                 grid-template-columns: repeat(12, 1fr);
                 grid-template-rows: repeat(4, 1fr);
             }
             .front .grisclair {
                 background-color: #34495E;
                 grid-column: 8 / span 5;
                 grid-row: 1 / span 4;
             }
             .front .gristresclair {
                 background-color: #ABB2B9;
                 grid-column: 1 / span 7;
                 grid-row: 1 / span 4;
             }
             .front .gris {
                 background-color: #212F3D;
                 -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
                 clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
                 grid-row: 1 / span 3;
                 grid-column: 1 / span 11;
                 position: relative;
                 z-index: 2;
             }
             .front .dots {
                 background: radial-gradient(white 20%, transparent 19%);
                 background-size: 6px 6px;
                 background-position: 0 0, 3px 3px;
                 grid-column: 1 / span 12;
                 grid-row: 3 / span 2;
                 z-index: 1;
             }
             .front .personal-intro {
                 background: black;
                 color: white;
                 display: -webkit-box;
                 display: flex;
                 -webkit-box-orient: vertical;
                 -webkit-box-direction: normal;
                 flex-direction: column;
                 grid-column: 4 / span 6;
                 grid-row: 2 / span 2;
                 -webkit-box-pack: center;
                 justify-content: center;
                 text-align: center;
                 z-index: 2;
             }
             .front .personal-intro p {
                 letter-spacing: 1px;
                 text-transform: uppercase;
             }
             .front .personal-intro p:first-of-type {
                 font-size: 36px;
             }
             .front .personal-intro p:last-of-type {
                 font-size: 20px;
                 margin-top: 5px;
             }
             .back {
                 grid-template-columns: repeat(12, 1fr);
                 grid-template-rows: repeat(12, 1fr);
             }
             .back .yellow {
                 background-color: #ABB2B9;
                 grid-column: 1 / span 9;
                 grid-row: 1 / span 3;
             }
             .back .top.dots {
                 background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
                 background-size: 6px 6px;
                 background-position: 0 0, 3px 3px;
                 grid-column: 8 / span 6;
                 grid-row: 2 / span 3;
             }
             .back .personal-info {
                 grid-column: 2 / span 6;
                 grid-row: 5 / span 6;
             }
             .back .personal-info p {
                 font-size: 20px;
             }
             .back .personal-info p:first-of-type {
                 font-size: 20px;
                 font-weight: bold;
             }
             .back .personal-info p:nth-of-type(2) {
                 font-size: 20px;
             }
             .back .bottom.dots {
                 background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
                 background-size: 6px 6px;
                 background-position: 0 0, 3px 3px;
                 grid-column: 1 / span 8;
                 grid-row: 11 / span 2;
                 z-index: 2;
             }
             .back .pink {
                 background-color: #212F3D;
                 grid-column: 8 / span 5;
                 grid-row: 10 / span 3;
             }
             .contactrespon {
                 width: 500px;
                 margin-left: 220px;
                 margin-top: 80px;
             }
             .contactsimage {
                 position: relative;
                 background: url("../webroot/img/contact5.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 600px;
                 margin-bottom: 80px;
                 margin-top: 80px;
             }
             .p-contact-respon {
                 font-size: 1.6rem;
             }
             /* Ressources */
             form {
                 max-width: 850px;
                 margin: 0 auto;
                 border-top: 15px solid #212F3D;
                 background: #FFF;
                 padding: 0 20px 60px;
                 text-align: center;
                 font-family: Raleway;
                 text-align: center;
                 color: #B6B6B6;
                 -webkit-box-sizing: border-box;
                 box-sizing: border-box;
                 opacity: 0.95;
                 box-shadow: 0 0 15px -1px #141414;
             }
             h3 {
                 font-size: 40px;
                 line-height: 60px;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             .formulaire * {
                 box-sizing: border-box;
             }
             .formulaire {
                 width: 70%;
                 margin: 10px auto;
                 height: 50px;
             }
             .formulaire input,
             textarea {
                 width: 100%;
                 height: 100%;
                 opacity: 0.9;
                 padding-left: 22%;
                 background-color: #E8E9EA;
                 border: 0;
                 outline: none;
                 margin: 0;
             }
             .formulcontact {
                 display: block;
                 position: relative;
                 top: -50px;
                 width: 100%;
                 height: 110%;
                 background-color: #212F3D;
                 position: relative;
                 line-height: 50px;
                 font-size: 30px;
                 transition: all 0.3s ease-in-out, width 0.7s ease-in-out;
             }
             input[type=submit] {
                 background-color: #212F3D;
                 border: 0;
                 height: 50px;
                 padding: 0 20px;
                 color: white;
                 font-size: 20px;
                 margin-top: 35px;
             }
             textarea {
                 resize: none;
                 padding-top: 18px;
                 transition: all 0.3s ease-in-out;
             }
             @media screen and (max-width: 1070px) {
                 form {
                     width: 100%;
                 }
                 form .formulaire {
                     width: 90%;
                 }
             }
             .formulaire3 {
                 margin-top: 50px;
                 margin-bottom: 50px;
             }
             /* tarif */
             .respontarif1 {
                 width: 300px;
                 margin-left: 50px;
                 margin-top: 40px;
             }
             h5 {
                 font-size: 18px;
                 font-weight: 400;
                 padding: 0 20px;
                 margin-bottom: 0;
                 font-family: 'Pacifico', cursive;
                 color: #212F3D;
             }
             .red {
                 color: red;
             }
             .garantie {
                 text-align: center;
                 font-size: 1.2rem;
                 color: #212F3D;
                 font-family: 'Pacifico', cursive;
                 margin-top: 50px;
             }
             .tarifs1 {
                 position: relative;
                 background: url("../webroot/img/tarifs5.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 600px;
                 margin-bottom: 80px;
                 margin-top: 80px;
             }
             .tarifs2 {
                 position: relative;
                 background: url("../webroot/img/tarifs7.jpg") no-repeat center center fixed;
                 -webkit-background-size: cover;
                 -moz-background-size: cover;
                 background-size: cover;
                 height: 600px;
                 margin-bottom: 80px;
                 margin-top: 80px;
             }
             .container-tarif {
                 display: inline-grid;
                 padding: 10px;
                 width: 1000px;
                 grid-template-columns: repeat(3, 1fr);
             }
             .container-tarif .card-tarif {
                 position: relative;
                 cursor: pointer;
             }
             .card-tarif {
                 height: 350px;
             }
             .container-tarif .card-tarif .face {
                 width: 300px;
                 height: 200px;
                 transition: 0.5s;
             }
             .p-tarif {
                 font-size: 1rem;
             }
             .p-tarif1 {
                 font-size: 1rem;
             }
             .container-tarif .card-tarif .face.face1 {
                 position: relative;
                 background: white;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 z-index: 1;
                 transform: translateY(100px);
             }
             .h-tarif {
                 font-family: 'Pacifico', cursive;
                 font-weight: normal;
                 font-size: 1rem;
                 color: black;
             }
             .container-tarif .card-tarif:hover .face.face1 {
                 background-color: #212F3D;
                 transform: translateY(0);
             }
             .container-tarif .card-tarif .face.face1 .content-tarif {
                 transition: 0.5s;
             }
             .container-tarif .card-tarif:hover .face.face1 .content-tarif {
                 opacity: 1;
             }
             .container-tarif .card-tarif .face.face1 .content-tarif h3 {
                 margin: 10px 0 0;
                 padding: 0;
                 color: #212F3D;
                 text-align: center;
                 font-size: 1.6em;
                 font-family: 'Pacifico', cursive;
                 font-weight: normal;
             }
             .container-tarif .card-tarif:hover .face.face1 .content-tarif h3 {
                 color: white;
             }
             .container-tarif .card-tarif .face.face2 {
                 position: relative;
                 background: #fff;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 padding: 20px;
                 box-sizing: border-box;
                 box-shadow: 0 2px 10px #212F3D;
                 transform: translateY(-100px);
             }
             .container-tarif .card-tarif:hover .face.face2 {
                 transform: translateY(0);
             }
             .container-tarif .card-tarif .face.face2 .contentcontent-tarif p {
                 margin: 0;
                 padding: 0;
             }
             .imagetarifrespon {
                 width: 500px;
                 height: 250px;
                 margin-left: 250px;
                 box-shadow: 0 2px 10px #212F3D;
             }
             .texterespontarif {
                 width: 500px;
                 margin-left: 250px;
                 margin-bottom: 40px;
             }
         }