<header class="header">
     <a href="" class="logo">Tatoo Assur</a>
        <ul class="menu">
            <li><a href="#work">Qui sommes nous</a></li>
            <li><a href="#about">Nos tarifs</a></li>
            <li><a href="#careers">Nous contactez</a></li>
        </ul>
        <div class="main">
            <div class="d1"></div>
            <div class="d2"></div>
            <div class="d3"></div>
            <div class="d4"></div>
        </div>
</header>