<!-- Quatrieme bloques -->

<?php
echo $this->Form->create('Blocks', ['enctype' => 'multipart/form-data']);

// condition si il y a une image l'afficher
/*if ( != null) {
    echo "<strong>Photo Actuelle</strong><br/>";
    echo $this->Html->image($media['NAME'], ['alt' => $media['ALT']]);
    echo "<br/>";
}
echo "<strong>Ajouter/Modifier Photo :</strong><br/>";*/

// input pour l'image
echo $this->Form->file('images');

// input pour le h1
echo $this->Form->control('title', ['label' => $block[''], 'value' => $block['']]);


// bouton envoyer
echo $this->Form->submit('Envoyer', ['class' => 'button']);

//fin du Cinquième bloques
echo $this->Form->end();

?>