<!-- Photo entre les sections 2 et 3 -->

<?php
echo $this->Form->create('Blocks', ['enctype' => 'multipart/form-data']);

// condition si il y a une image l'afficher
/*if ( != null) {
    echo "<strong>Photo Actuelle</strong><br/>";
    echo $this->Html->image($media['NAME'], ['alt' => $media['ALT']]);
    echo "<br/>";
}
echo "<strong>Ajouter/Modifier Photo :</strong><br/>";*/

// input pour l'image
echo $this->Form->file('images');

// bouton envoyer
echo $this->Form->submit('Envoyer', ['class' => 'button']);

//fin du Premier bloque
echo $this->Form->end();

?>