<!-- Premier bloque -->

<?php
echo $this->Form->create('Blocks', ['enctype' => 'multipart/form-data']);
//debug($blocks); die();

// input pour le h1

echo $this->Form->control('title', ['label' => 'title', 'value' => $blocks['CONTENT']]);


// condition si il y a une image l'afficher
if ( $image != null) {
echo "<strong>Photo Actuelle</strong><br/>";
echo $this->Html->image($media['NAME'], ['alt' => $media['ALT']]);
echo "<br/>";
}


// input pour choisir entre les deux images
echo $this->Form->radio('Image1',
                [
                    ['value' => 1, 'text' => 'Image avant le texte'],
                    ['value' => 2, 'text' => 'Image après le texte'],
                ],
                
);
   
        






echo "<strong>Ajouter/Modifier Photo :</strong><br/>";

echo $this->Form->file('images');

    // input textarea texte apres image
    echo $this->Form->textarea(
        'texte',
        [
            'label' => 'texte',
            
            'value' => $blocks['CONTENT']
        ]
    );


// bouton envoyer
echo $this->Form->submit('Envoyer', ['class' => 'button']);

//fin du Premier bloque
echo $this->Form->end();

?>